<div class="general_page_styles">
	<div class="contact_us_styles">
		<div class="page-header">
			<h1>Contact Us</h1>
		</div>

		<!--Contact Form-->
		<%= flash[:notice] %>

		<%= form_tag("/static_pages/thank_you") do %>
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div class="form-group">
					<%= text_field_tag :name, nil, class: "form-control", id: "contact_form", placeholder: "Enter Name" %>
				</div>
				<div class="form-group">
					<%= text_field_tag :email, nil, class: "form-control", id: "contact_form", placeholder: "Enter Email Address" %>
				</div>
				<div class="form-group">
					<%= text_area_tag :message, nil, class: " form-control", id: "contact_form", placeholder: "Enter Message", style: "height: 250px" %>
				</div>

				<%= submit_tag "Send", class: "btn btn-lg btn-primary btn-block", id: "contact_submit_btn" %>
			</div><!--col-md-4 end-->
		</div><!--row end-->
		<% end %>
	</div><!--contact_us_styles end-->
</div><!--general styles end-->