<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :first_name, autofocus: true, class: "form-control", id: "login_logout", placeholder: "Enter your first name" %>
  </div>

  <div class="field">
    <%= f.text_field :last_name, autofocus: true, class: "form-control", id: "login_logout", placeholder: "Enter your last name" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, class: "form-control", id: "login_logout", placeholder: "Enter your email address" %>
  </div>

  <div class="actions">
    <%= f.submit "Update User", class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
