<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="product-container">
      <%= image_tag(product.image_url, class: "img-responsive") %>
      <h4 class="product-name"><%= product.name %></h4><br>
      <p class="product-description"><%= product.description %></p>
      <hr>
      <p class="product-price"><%= product.price %></p>
      <hr>
      <div class="show_edit_delete_div">
        <button type="button" class="btn btn-default" id="show-edit-delete-button"><%= link_to 'Show', product %></button>
        <button type="button" class="btn btn-default" id="show-edit-delete-button"><%= link_to 'Edit', edit_product_path(product) %></button>
        <button type="button" class="btn btn-default" id="show-edit-delete-button"><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></button>
      </div><!--show edit delete div end-->
  </div><!--product container end-->
</div><!--col-md-4 end-->