<div class="main-body-div">
	<div class="edit_show_new_products">
		<p id="notice"><%= notice %></p>

		<div class="row">
			<div class="col-sm-12 col-md-4 col-lg-4">
				<div class="thumbnail">
					<%= image_tag(@product.image_url, class: "img-zoom", data_zoom_image: @product.image_url) %>
				</div>
			</div><!--col md end-->
			<div class="col-sm-12 col-md-8 col-lg-8">
				<div class="product_name">
					<h4><strong><%= @product.name %></strong></h4>
					<p>Average Rating: <div class="rated" data-score="<%=@product.average_rating %>"></div></p> <hr>
				</div>


				<div class="product_description">
				 	<%= @product.description %><hr>
				</div>

				<div class="product_price">
					<h5><strong><%= @product.price %></strong></h5>
				</div><br>

				<%= form_tag "/payments/create" do %>
					<%= hidden_field_tag :product_id, @product.id %>
					<% if user_signed_in? %>
				  		<%= render partial: "devise/shared/stripe_checkout_button", style: "margin-left: 185px" %>
				  	<% else %>
				  		<%= link_to "Please log in to buy this card", new_session_path(:user), :type => 'button', :class => 'btn btn-primary btn-block' %>
				  	<% end %>
				<% end %>
			</div><!--col md end-->
		</div><!--row end-->

		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				
				<%= render partial: "new_comment" %>

				<%= render partial: "comments" %>

				<%= link_to 'Edit', edit_product_path(@product), :type => 'button', :class => 'btn btn-lg btn-primary btn-block' %>
				<%= link_to 'Back', products_path, :type => 'button', :class => 'btn btn-lg btn-primary btn-block'%>
			</div><!--col md end-->
		</div><!--row end-->

		<%end%>

	</div>
</div><!--main-body end-->