<!DOCTYPE html>
<html>
<head>
	<title>Cfapp</title>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


	<meta name="viewport" content="width=device-width" intial-scale="1">
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="main-body-div">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid-nav">
				<div class="row" id="nav-row">
					<div class="col-sm-12 col-md-4">
						<div class="navbar-header-a">
							<a href="/static_pages/index" class="company-name">The Whiteley Collection</a>
						</div><!--navbar header end-->
					</div><!--col end-->
					<div class="col-sm-12 col-md-8">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<div class="navbar-collapse collapse">
								<ul class="nav navbar-nav">
									<li><a href="/static_pages/index"><span class="glyphicon glyphicon-home"></span></a></li>
									<li><%= link_to "About", "/static_pages/about" %></li>
									<li><%= link_to "FAQs", "/static_pages/faq" %></li>
									<li><%= link_to "Contact", "/static_pages/contact" %></li>
									<li><%= link_to "Create a Card", "/products" %></li>
									<li><%= link_to "Users", "/users" %></li>
								</ul>	
							</div><!--navbar-collapse collapse end-->
						</div> <!--navbar header end-->
					</div><!--col end-->
				</div><!-- nav row end-->
			</div><!--container fluid nav end-->
		</nav><!--nav bar end-->
		<div class="search_bar">
			<%= form_tag("/products", method: "get", :class=> "navbar-form") do %>
				<%= text_field_tag(:q, "", class: "form-control", placeholder: "Find a product") %>
				<%= submit_tag("Search", class: "btn btn-default") %>
			<% end %>
		</div><!--search bar end-->

<%= yield %>

		<footer>
			<div class="row" id="footer-row-1">
				<div class="col-sm-12 col-md-4" id="footer-company-name">
					&copy; The Whiteley Collection 2015
				</div><!--col end-->
			</div><!--footer row 1 end-->
		</footer>
	</div><!--main body div end-->

</body>
</html>
